{% extends "layouts/guest.html" %}

{% block styles %}
  <link rel="stylesheet" href="../../static/css/authenticated_therapist.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content  %}
  <main class="container mt-5">
    <div class="metrics">
      <div class="card">
        <div class="card-body">
            <div class="card-control">
              <div class="dropdown">
                <a href="" style="float:right;" class="btn dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- <i class="fa-solid fa-caret-down"></i> -->
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="text-center met-icon">
              <i class="fa-solid fa-bed-pulse fa-3x"></i>
            </div>
            <h4 class="text-center text-dark">Pending Bookings</h4>
            <h6 class="text-center text-dark">20</h6>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <div class="card-control">
              <div class="dropdown">
                <a href="" style="float:right;" class="btn dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- <i class="fa-solid fa-caret-down"></i> -->
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="text-center met-icon">
              <!-- <i class="fa-solid fa-bed-pulse fa-3x"></i> -->
              <i class="fa-solid fa-eye fa-3x"></i>
            </div>
            <h4 class="text-center text-dark">Profile Visits</h4>
            <h6 class="text-center text-dark">20</h6>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
            <div class="card-control">
              <div class="dropdown">
                <a href="" style="float:right;" class="btn dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- <i class="fa-solid fa-caret-down"></i> -->
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="text-center met-icon">
              <!-- <i class="fa-solid fa-bed-pulse fa-3x"></i> -->
              <i class="fa-solid fa-sack-dollar fa-3x"></i>
            </div>
            <h4 class="text-center text-dark">Earning</h4>
            <h6 class="text-center text-dark">NGN200,000</h6>
        </div>
      </div>
    </div>
    <div class="table-responsive mt-5">
      <table class="table table-hover">
        <thead>
          <h4 class="text-center">My Packages</h4>
        </thead>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}