{% extends "layouts/guest.html" %}

{% block styles %}
  <link rel="stylesheet" href="../../../static/css/authenticated_therapist.css ">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    /* .container{
      display: flex;
      flex-direction: column;
    } */
    .therapist_search{
      display: grid;
      /* flex-direction: row; */
      grid-template-columns: 4fr 1fr;
      width: 100% !important;
      justify-content: center;
      align-items: center;
    
    }
    .therapist_search .form-group{
      width: 100% !important;
    }
    .therapist_search .form-control{
      width: 100% !important;
    }
    .therapist_search .btn{
      width: 100% !important;
    }

    .therapists{
      width: 100% !important;
      height: fit-content;
      padding: 1rem;
      /* padding-bottom: 1rem; */
      box-shadow: 0 0 10px white;
      background-color: whitesmoke;
      margin-bottom: 1.2rem;
      display: flex;
      flex-direction: row;
      grid-gap: 1.4rem;
    }
    .therapists a{
      text-decoration: none;
    }
    .therapists img{
      height: 5rem;
      width: 5rem;
      border-radius: 50% !important;
    }
  </style>
{% endblock %}

{% block content  %}
  <main class="container mt-5">
    <div class="mt-5 mb-5">
      <h4 class="text-center text-primary">Hi {{current_user.fullname}}</h4>
      <h5 class="text-center text-dark mt-4 mb-4"> You have No Running Appointments or Running Plans</h5>
    </div>
    <form action="{{url_for('main.search_therapists_by_city')}}" method="GET" class="mt-5 mb-5 therapist_search">
      <div class="form-group">
        <input type="text" name="city_name" placeholder="search physiotherapists in your city" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Search</button>
      </div>
    </form>
    <!-- result -->

    {% if results is defined and results is not none %}
      {% if results %}
        {% for therapist in results %}
        <div class="therapists">
          {% if therapist.avatar != None%}
          <img src="{{ url_for('profile.static', filename='uploads/avatar'+therapist.avatar) }}" alt="">
          {% else %}
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
          {% endif %}
          <div>
            <h4><a href="">{{ therapist.fullname }}</a></h4>
            <span>{{therapist.tagline}}</span>
           

          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No therapists found in the said city.</p>
      {% endif %}
    {% endif %}



  </main>
{% endblock %}