{% extends "layouts/guest.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="{{url_for('main.static', filename='css/index.css')}}">
<style>
  .search_btn{
    border-style: solid;
    border-color: grey;
    border-width:2px;
    width: fit-content !important;
  }
  .search_btn:hover{
    background-color: gray !important;
    color: white !important;
  }
</style>
{% endblock %}


{% block content %}
<main class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 hero">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold " style="color:rgb(75, 75, 75);">nadia...</h1>
          <!-- <p class="col-md-8 fs-4 text-dark">Discover nearby physiotherapists and physiotherapy clinics.</p> -->
          <button style="font-weight:bolder;color:rgb(75, 75, 75); " class="btn  search_btn btn-lg mt-5" type="button">Search Now</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6  ">
          <div class="h-100 p-5 info-1 text-bg-dark rounded-3">
            <h2>All You can Do</h2>
            <p>Search for top-rated physiotherapists in your area.</p>
            <p>Book appointments instantly through the app.</p>
            <p>  Get access to detailed reviews and ratings from other patients</p>
           
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="h-100 p-5 info-2 bg-light border rounded-3">
            <h2>And Little More</h2>
            <p>
              Set goals and track your progress with our built-in tools</p>
            <p>Get personalized recommendations based on your recovery journey</p>
            <p>Stay motivated and on track to reaching your health goals  
            </p>
            
          </div>
        </div>
      </div>
</main>
<!-- end hero -->

<!-- feature begins -->
{% include "pages/home/_features.html" %}
<!-- feature ends -->
<!-- carousel -->
<div class="container marketing">

    
   {% include "pages/home/_therapists_featured.html" %}



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Sign Up. <span class="text-muted">And verify your account.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img src="https://media.istockphoto.com/id/1441987488/photo/shocked-man-looking-at-smartphone.jpg?s=1024x1024&w=is&k=20&c=xv0XbzDBpmRmdKH-3PW39dL7QaDaIW-FPHIp1tXKUHI=" class="img img-fluid" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Find and<span class="text-muted">book a therapist</span>.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="img img-fluid " src="https://media.istockphoto.com/id/1201657177/photo/smiling-black-female-doctor-in-white-coat-posing-with-folded-arms.jpg?s=1024x1024&w=is&k=20&c=3DSBpSaf-WResHx8daxMwZeUyYzMT2AFYVYjd7JRCg0=" height="500" width="500" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Experience <span class="text-muted">Recovery</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="img img-fluid" src="https://media.istockphoto.com/id/1182464929/photo/female-doctor-talks-with-senior-male-patient.jpg?s=1024x1024&w=is&k=20&c=VYJuEoucH1GLx8GFnDt_3VOcvDUxLaLzk_kJsZQSrDM=" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


{% endblock %}