{% extends "layouts/guest.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='css/profile.css') }}">
<link rel="stylesheet" href="">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Fake Title</title>
{% endblock %}

{% block content %}

<div>
    <div class="profile_header pt-5">
        <h4 class="text-center text-light">{{therapist.fullname}}</h4>
    </div>
    <div class="profile_container container">
        <aside class="profile_aside">
            <div class="profile_intro">
              
              {% if therapist.avatar == None %}
              <img src="" class="img pic img-fluid"/>
              {% else %}
              <img src="{{ url_for('profile.static', filename='uploads/avatar'+therapist.avatar) }}" class="img pic img-fluid" alt="">
              {% endif %}
              <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#image-upload-modal" id="pic-btn"><i class="fa-solid fa-camera"></i></button>
              <h5 class=" mt-2">{{therapist.fullname}}</h5>
              <small><b>
                {% if therapist.tagline == None %}
                    Add a Tagline
                {% else %}
                    {{therapist.tagline}}
                {% endif %}
              </b></small>
            </div>
           
            <div class="mt-3 mb-3 booking-div">
              <button class="btn btn-default btn-secondary">Review</button>
              <button class="btn btn-primary">Book Now</button>
            </div>
     
            <!-- language -->
            <div class="">
              <h5 class="">Languages</h5>
              <div class="deet mt-2">
                <span class="deet_key">English: </span>
                <span>Fluent</span>
              </div>
              <div class="deet mt-2">
                <span class="deet_key">English: </span>
                <span>Fluent</span>
              </div>
     
            </div>
            <div class="mt-5 ">
              <div class="location-heading">
                <h5 class="">Locations</h5>
                <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#locate"><i class="fa-solid fa-pen"></i></button>
              </div>
              
              <div class="deet mt-2">
                <span class="deet_key">English: </span>
                <span>Fluent</span>
              </div>
              <div class="deet mt-2">
                <span class="deet_key">English: </span>
                <span>Fluent</span>
              </div>
     
            </div>
            <!-- Packages -->
            <div class="mt-5">
                <h5>Charge Plans</h5>
                <div>
                  <span>One off - </span>
                  <span>N3000</span>
                  <span>More</span>
                </div>
                <div>
                  <span>Monthly - </span>
                  <span>N3000</span>
                  <span>More</span>
                </div>
                <div>
                  <span>Quarterly - </span>
                  <span>N3000</span>
                  <span>More</span>
                </div>
            </div>
     
        </aside>
        <!-- profile section -->
        <section class="profile_section">
          <!-- <h3>Section</h3> -->
          <!-- bio -->
          <div class="">
            <div class="bio_title">
                <h3>Bio</h3>
                <button class="btn btn-sm"  data-bs-toggle="modal" data-bs-target="#bio-edit"><i class="fa-solid fa-pen"></i></button>
                {% include "profile/_bio_modal.html" %}
                {% include "profile/_image_modal.html" %}
            </div>
            <div class="bio-text">
                {% if therapist.bio == None %}
                    Add a bio
                {% else %}
                    {{therapist.bio}}
                {% endif %}
            </div>
          </div>
          <!-- reviews -->
          <!-- <br> -->
          <ul class="nav nav-tabs mt-5 mb-4" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
          </div>
          <!-- end reviws -->

          <!-- education -->
          <hr>
          <div class="educaction mb-3">
            <div class="bio_title">
                <h3>Work History</h3>
                <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#work-add"><i class="fa-solid fa-pen"></i></button>
                {% include "profile/_work_modal.html" %}
            </div>
            {% for emps in work %}
            <div class="edu-deet mt-3">
              <div class="edu-heading">
                <h5 class="">{{emps.employer}} - <span>2014 - 2021</span></h5>
                <div class="edu-heading-actions">
                  <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#work-edit-{{emps.id}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#work-delete-{{emps.id}}">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
              <span><small>{{emps.jobrole}}</small></span>
              <p>
                {{emps.description}}
              </p>
            </div>
            {% include "profile/_work_mod_modal.html" %}
            {% endfor %}
            <!-- <div class="edu-deet mt-3">
              <h5 class="">University of Nigeria Nsukka - <span>2014 - 2021</span></h5>
              <span><small>Medical Rehabilitaion</small></span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptas?
              </p>
            </div> -->
          </div>
          <hr>
          <!-- work history -->
          <div class="educaction mb-5">
            <div class="bio_title mt-4">
                <h3>Education</h3>
                <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#edu-add"><i class="fa-solid fa-pen"></i></button>
                {% include "profile/_education_modal.html" %}
            </div>
            {% for education in edu %}
            <div class="edu-deet mt-3">
              <!-- <h5 class="">{{education.school}} - <span>2014 - 2021</span></h5> -->
              <div class="edu-heading">
                <h5 class="">{{education.school}} - <span>2014 - 2021</span></h5>
                <div class="edu-heading-actions">
                  <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#education-edit-{{education.id}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#education-delete-{{education.id}}">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
              <span><small>{{education.course}}</small></span>
              <p>
                {{education.description}}
              </p>
            </div>
            {% include "profile/_edu_mod_modal.html" %}
            {% endfor %}
            <!-- <div class="edu-deet mt-3">
              <h5 class="">University of Nigeria Nsukka - <span>2014 - 2021</span></h5>
              <span><small>Pain Manager</small></span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptas?
              </p>
            </div> -->
          </div>
        </section>
        <!-- profile section end -->
     </div>
</div>
<input type="file" name="pic_input" onchange="imageAdded()" id="pic_input" style="display:none;">
<script>
  field = document.getElementById(pic_input)
  function imageAdded(){
     // get the selected file
    const file = event.target.files[0];

    // create a new FileReader
    const reader = new FileReader();

    // listen for when the FileReader has loaded the file
    reader.addEventListener('load', function() {
      // create a new image element
      const image = new Image();

      // listen for when the image has loaded
      image.addEventListener('load', function() {
        // access the image data
        const canvas = document.createElement('canvas');
        canvas.width = image.width;
        canvas.height = image.height;
        const context = canvas.getContext('2d');
        context.drawImage(image, 0, 0);
        const imageData = context.getImageData(0, 0, image.width, image.height);

        // process the image data here
        console.log('image data:', imageData);
      });

      // set the image source to the file data
      // image.src = reader.result;
      console.log(reader.result)
      _new = document.getElementById('new')
      _new.src = reader.result
    });
    

    // var myModal = new bootstrap.Modal(document.getElementById('image-upload-modal'), {})
    // myModal.show()
    // console.log('image added.')
  }
</script>
{% include "profile/_location_modal.html" %}

{% endblock %}