<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Why nadia</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">...built by a patient and medics for patients and medics</h3>
        <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary btn-lg">Primary button</a>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center py-3 justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <h4 class="fw-semibold mb-0">Fast</h4>
          <p class="text-muted">Efficient and speedy service delivery are guaranteed.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center py-3 justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <!-- <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill" />
            </svg> -->
            <i class="fa-solid fa-lock"></i>
          </div>
          <h4 class="fw-semibold mb-0">Secured</h4>
          <p class="text-muted">Your transactions and data are secured with cutting edge Technologies.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex py-3 align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <!-- <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer" />
            </svg> -->
            <i class="fa-solid fa-hands-holding-child"></i>
          </div>
          <h4 class="fw-semibold mb-0">You First</h4>
          <p class="text-muted">Caregiver and Patient wellbeing are our top priorities..</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center py-3 justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <!-- <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table" />
            </svg> -->
            <i class="fa-solid fa-user-group"></i>
          </div>
          <h4 class="fw-semibold mb-0">Easy to Use</h4>
          <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>