body{
    overflow-x: hidden !important;
}
.profile_header{
    height: 30vh !important;
    width: 100% !important;
    background-color: gray;
    z-index: -1 !important;
    
}

.profile_container{
    height: fit-content !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: aqua; */
    z-index: 1;
    margin-top: -5rem;
    opacity:1;
   
    width: 80%;
    grid-gap: 2rem;
}

.profile_aside{
    width: 30%;
    box-shadow: 0 0 15px rgb(234, 234, 234);
    padding-left: 1rem;
    /* background-color: black !important; */
    opacity: 1 !important;
    z-index: 1 !important;
    background-color: white !important;
}
.profile_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 5rem;
}
.pic{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
#pic-btn{
    /* position: ; */
    margin-top: -2rem !important;
    /* z-index: 1; */
}

.booking-div{
    display: flex;
    grid-gap: 1rem;
}
.booking-div .btn{
    width: 7rem;
}

#avatar-action-holder{
    display: none;
}

.profile_section{
    width: 70%;
    margin-right: 0 !important;
    padding-right: 1rem !important;
    padding-left: 1rem;
    /* background-color: red !important; */
    box-shadow: 0 0 15px rgb(234, 234, 234);
    background-color: white !important;
    
}

.bio_title{
    margin-top: 1rem;
    display: flex;
    /* justify-content:; */
    grid-gap: 5rem;
}

.holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 1.2rem;
}


/* edu and work */

.edu-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}