{% extends "layouts/auth.html" %}

{% block content %}
<style>
  .user_def{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
<form method="POST" action="/login">
    <!-- <img class="mb-4" src="assets//brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <img class="mb-4" src="../../static/pub_imges/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-group mt-2 mb-3">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-danger" role="alert">
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
    </div>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating user_def" >
      <div class="checkbox mb-3">
        <label class="form-label">
          <input type="radio" name="user_type" value="therapist"><span> </span>I am Therapist
        </label>
      </div>
      <div class="checkbox mb-3">
        <label class="form-label">
          <input type="radio" name="user_type" value="user"><span> </span>I am User
        </label>
      </div>
    </div>

    <div class="checkbox mb-3">
      <label class="form-label">
        <input type="checkbox" name="remember-me" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
{% endblock %}