{% extends "layouts/auth.html" %}

{% block content %}
<form method="POST" action="/therapist/signup">
    <img class="mb-4" src="../../static/pub_imges/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>
    <div class="form-floating">
        <input type="text" class="form-control" name="username" id="floatingInput" placeholder="kingzzz">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="fullname" id="floatingInput" placeholder="Kingsley Emeka">
        <label for="floatingInput">Full Name</label>
      </div>
      <!-- <div class="form-floating">
        <select name="usertype" id="" class="form-control">
          <option value="pat">Patient</option>
          <option value="therapist">Therapist</option>
        </select>
        <label for="floatingInput">User Type</label>
      </div> -->
      <div class="form-floating">
        <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="+234890..">
        <label for="floatingInput">Phone</label>
      </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
{% endblock %}