{% extends "layouts/guest.html" %}

{% block styles %}
  <link rel="stylesheet" href="../../static/css/authenticated_therapist.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .not_con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .notification{
        background-color: rgb(247, 246, 246);
        height: 100vh !important;
        width: 60% !important;
        box-shadow: 0 0 10px gainsboro;
        display: flex;
        flex-direction: column;
    }
    .notification .card-body{
        display: flex;
        grid-gap: 2rem;
        align-items: center;
        
    }
    .notification .card-body img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }
    .not_control{
        display: flex;
        flex-direction: row;
        grid-gap: 1.5rem;
        margin-bottom: 1.4rem;
    }
    .not_control a{
        text-decoration: none;

    }
  </style>
{% endblock %}

{% block content  %}
    <main class="container not_con">
        <div class="notification p-3">
            <h4 style="float:left;" class="text-left text-primary mt-4">Notification</h4>
            <div class="not_control">
                <a href="">All</a>
                <a href="">Unread</a>
            </div>
            <div class="not">
               {% for notification in notifications %}
               <div class="card mt-2">
                <div class="card-body">
                    <img class="img img-fluid" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
                    <div>
                        <h6 class="text-left text-primary">{{notification.message}}</h6>
                        <small>{{notification.created_at.strftime('%B %d, %Y, %I:%M %p')}}</small>
                    </div>
                </div>
                </div>
               {% endfor %}

               <div class="">
                {{notifications.links}}
               </div>
            </div>
        </div>
    </main>
{% endblock %}